@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.dot_pattern{
  background-color: #f6d0b5;
  opacity: 0.8;
  background-image:radial-gradient(var(--color-neutral) 1.5px, var(--color-base-200) 1.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.graph_paper_dotted{
  background-color: var(--color-base-100);
  opacity: 0.8;
  background-image:  radial-gradient(circle, var(--color-base-300) 0.8px, transparent 0.8px), radial-gradient(circle, var(--color-base-300) 0.8px, transparent 0.8px) ;
  background-size: 5px 20px, 20px 5px;
  background-position: -2.5px -10px, -10px -2.5px;
}

.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
